<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>codemalaysiaskillcounter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="../styles/main.css">
    </head>
  
    <body>
        <!-- MAIN -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header custom-with_input">
                        <h1>Recently claimed profiles&emsp;&emsp;<small><a href="<%=  %>">See all</a></small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="media-list">
                        <% @vets.each do |vet| %>
                            <span class="col-md-9"><span class="col-md-2"><%= vet.audits[0].created_at.to_formatted_s(:short) %></span><a href="<%= vet_path(vet) %>"><%= vet.name %></a> has just claimed their profile.</span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header custom-with_input">
                        <h1>Licence renewal applications&emsp;&emsp;<small><a href="<%=  %>">See all</a></small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="media-list">
                        <% @licence_renewal.each do |vet| %>
                            <span class="col-md-9"><span class="col-md-2"><%= vet.audits.select{|x| x.comment == "licence renewal"}[0].created_at.to_formatted_s(:short) %></span><a href="<%= vet_path(vet) %>"><%= vet.name %></a> has just applied for a licence renewal.</span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header custom-with_input">
                        <h1>Recently created events&emsp;&emsp;<small><a href="<%= admin_pending_index_path %>">See all</a></small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="media-list">
                        <% @pending_events.each do |event| %>
                            <% organizer = Organizer.find(event.organizer_id) %>
                            <span class="col-md-9"><span class="col-md-2"><%= event.audits[0].created_at.to_formatted_s(:short) %></span><a href="<%= event_path(event) %>"><%= event.event_name %></a> has just been created by <a href="<%= organizer_path(organizer) %>"><%= organizer.name %></a>.</span>
                        <% end %>
                    </ul>
                </div>
            </div>
            <button class="button button-default">hooha</button>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header custom-with_input">
                        <h1>Recently approved events&emsp;&emsp;<small><a href="<%= admin_approved_index_path %>">See all</a></small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="media-list">
                        <% @approved_events.each do |event| %>
                            <span class="col-md-9"><span class="col-md-2"><%= event.audits[event.audits.size - 1].created_at.to_formatted_s(:short) %></span><a href="<%= event_path(event) %>"><%= event.event_name %></a> has just been approved by a fellow administrator.</span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header custom-with_input">
                        <h1>Currently live events&emsp;&emsp;<small><a href="<%= admin_live_index_path %>">See all</a></small></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="media-list">
                        <% @approved_events.each do |event| %>
                            <% organizer = Organizer.find(event.organizer_id) %>
                            <span class="col-md-9"><span class="col-md-2"><%= event.audits.last.created_at.to_formatted_s(:short) %></span><a href="<%= organizer_path(organizer) %>"><%= organizer.name %></a>'s event - <a href="<%= event_path(event) %>"><%= event.event_name %></a> - is currently live.</span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header custom-with_input">
                        <h1>Ongoing events</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="media-list">
                        <% @live_events.each do |event| %>
                            <span class="col-md-9"><span class="col-md-5">FROM <%= event.start_date_time.strftime(format='%A, %b %d') %> UNTIL <%= event.end_date_time.strftime(format='%A, %b %d') %></span><a href="<%= event_path(event) %>"><%= event.event_name %></a></span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"></br></div>
        <!-- END of MAIN -->
        
        <script src="scripts/vendor.js"></script>
        <script src="scripts/main.js"></script>
    </body>
    </html>