<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>codemalaysiaskillcounter</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="../styles/main.css">
    </head>
  
    <body>
        <!-- MAIN -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header custom-with_input">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h1>Recently claimed profiles</h1></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="media-list">
                        <% @vets.each do |vet| %>
                            <span class="col-lg 10 col-md-12 col-sm-12 col-xs-12">
                                <span class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><%= vet.audits.first.created_at.to_formatted_s(:short) %></span>
                                <a href="<%= vet_path(vet) %>"><%= vet.name %></a> has just claimed their profile.
                            </span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header custom-with_input">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"><h1>Licence renewal applications</h1></div>
                        <div class="col-lg-offset-2 col-lg-1 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-12"><h2><small><a href="<%= admin_licence_renewal_index_path %>">See all</a></small></h2></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="media-list">
                        <% @licence_renewal.each do |vet| %>
                            <span class="col-lg-10 col-md-9"><span class="col-lg-2 col-md-2"><%= vet.audits.select{|x| x.comment == "licence renewal"}.first.created_at.to_formatted_s(:short) %></span><a href="<%= vet_path(vet) %>"><%= vet.name %></a> has just applied for a licence renewal.</span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header custom-with_input">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"><h1>Recently created events</h1></div>
                        <div class="col-lg-offset-2 col-lg-1 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-12"><h2><small><a href="<%= admin_pending_index_path %>">See all</a></small></h2></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="media-list">
                        <% @pending_events.each do |event| %>
                            <% organizer = Organizer.find(event.organizer_id) %>
                            <span class="col-lg 10 col-md-12 col-sm-12 col-xs-12">
                                <span class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><%= event.audits.first.created_at.to_formatted_s(:short) %></span>
                                <a href="<%= event_path(event) %>"><%= event.event_name %></a> has just been created by <a href="<%= organizer_path(organizer) %>"><%= organizer.name %></a>.
                            </span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header custom-with_input">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"><h1>Recently approved events</h1></div>
                        <div class="col-lg-offset-2 col-lg-1 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-12"><h2><small><a href="<%= admin_approved_index_path %>">See all</a></small></h2></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="media-list">
                        <% @approved_events.each do |event| %>
                            <span class="col-lg 10 col-md-12 col-sm-12 col-xs-12">
                                <span class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><%= event.audits.last.created_at.to_formatted_s(:short) %></span>
                                <a href="<%= event_path(event) %>"><%= event.event_name %></a> has just been approved by a fellow administrator.
                            </span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header custom-with_input">
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"><h1>Currently live events</h1></div>
                        <div class="col-lg-offset-2 col-lg-1 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-12"><h2><small><a href="<%= admin_live_index_path %>">See all</a></small></h2></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="media-list">
                        <% @live_events.each do |event| %>
                            <% organizer = Organizer.find(event.organizer_id) %>
                            <span class="col-lg 10 col-md-12 col-sm-12 col-xs-12">
                                <span class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><%= event.audits.last.created_at.to_formatted_s(:short) %></span>
                                <a href="<%= organizer_path(organizer) %>"><%= organizer.name %></a>'s event - <a href="<%= event_path(event) %>"><%= event.event_name %></a> - is currently live.
                            </span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-header custom-with_input">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h1>Ongoing events</h1></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="media-list">
                        <% @live_events.each do |event| %>
                            <span class="col-lg 10 col-md-12 col-sm-12 col-xs-12">
                                <span class="col-lg-2 col-md-2 col-sm-2 col-xs-12">FROM <%= event.start_date_time.strftime(format='%A, %b %d') %> UNTIL <%= event.end_date_time.strftime(format='%A, %b %d') %></span>
                                <a href="<%= event_path(event) %>"><%= event.event_name %></a>
                            </span>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row col-md-12"></br></div>
        <!-- END of MAIN -->
        
        <script src="scripts/vendor.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>