<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header custom-with_input">
                <h1>Created by <small><%= @organizer.name%></small></h1>
                <%= form_tag(events_path, :method => "get", id: "search-form", class:"navbar-form", role:"search") do %>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <%= link_to "Create Event", new_event_path, class: "btn btn-default btn-success" %>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                             <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "Search here"%>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                             <%= submit_tag "Filter",  :name => nil, class:"btn btn-default" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <% if @upcoming_events.any? %>
        <h2>Upcoming events</h2>
        <%= render 'shared/organizer', object: @upcoming_events %>
    <% end %>
    <% if @previous_events.any? %>
        <h2>Past events</h2>
        <%= render 'shared/organizer', object: @previous_events %>
    <% end %>
    <% if @organizer.events.any? %>
        <h2>All events</h2>
        <%= render 'shared/organizer', object: @organizer.events.paginate(page: params[:page]) %>
    <% end %>
</div>

<script type="text/javascript">
    $(function () {
        $('.datetimepicker1').datetimepicker({pickTime: false});
        $('.typeahead').typeahead();
    });
</script>