
<h1><%= @organizer.name %></h1>
<h3>Details</h3>
<p>Name: <%= @organizer.name %></p>
<p>Email: <%= @organizer.email %></p>
<p>Contact Number: <%= @organizer.contact_number %></p>

<%= link_to 'Edit', edit_organizer_path(@organizer)%>