


<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1><%= @vet.name%> <small>profile</small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <%= image_tag @vet.avatar.url(:thumb), class:"img-thumbnail"  %>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="row">
                    <div class="col-md-5">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="userEmail" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-8">
                                    
                                    <%= text_field_tag :email, @vet.email , class:"form-control", disabled:true %>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userIC" class="col-sm-3 control-label">IC</label>
                                <div class="col-sm-8">
                                   
                                    <%= text_field_tag :email, @vet.ic_number , class:"form-control", disabled:true %>
                                </div>
                            </div>
                            <div class="form-group">
                            <label for="userPhone" class="col-sm-3 control-label">Phone</label>
                            <div class="col-sm-8">
                               
                                <%= text_field_tag :email, @vet.contact_number , class:"form-control", disabled:true %>
                            </div>
                            </div>
                            <div class="form-group">
                            <label for="license" class="col-sm-3 control-label">License</label>
                            <div class="col-sm-8">
                                
                                <%= text_field_tag :email, @vet.licence_number , class:"form-control", disabled:true %>
                            </div>
                            </div>
                            <div class="col-md-offset-9 col-md-3">
                            <%= link_to "Edit", edit_vet_path(@vet), class: "btn btn-default btn-success" %>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>
                        <span class="glyphicon glyphicon-fire"></span>
                        Points and activities
                    </h3>
                </div>
                <h3>
                    <small>Current Accumulated Points:</small>
                    <span class="text-success"><%= (@vet.current_points + @vet.expiring_points) %></span>
                </h3>
                <h3>
                    <small>Points Expiring This Year:</small>
                    <span class="text-warning"><%= @vet.expiring_points %></span> <small>points expiring on 31st September 2015</small>
                </h3>
                <br>
   

                <%= form_tag redeem_licence_path, :method => :get do %>
                
                    <%#= form_for @vet, :url => { :action => "redeem_licence" }, :html => { :method => "put" } do |f| %>
                
                 
                    <%#= form_tag(redeem_licence_path, :method => "get",  class:"form-horizontal", role:"form") do %>
                    <%#= hidden_field_tag :current_points, @vet.current_points %>
                   <%#= f.submit "Redeem Licence",  class: "btn btn-default btn-success" %>
                    <%= submit_tag "redeem licence", class: "btn btn-success"%>
                <% end %>
                    <span class="glyphicon glyphicon-tag"></span>
                    
                <small>requires 80 points</small>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>
                        <span class="glyphicon glyphicon-flag"></span>
                        Recently Attended Events
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="media-list">
                   
                  
                <% if @previous_events.any? %>
                
                 <% @previous_events.each do |event| %>
               
                <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="../images/event-80x71px.jpg" alt="...">
                        </a>
                        <div class="media-body">
                            <div class="col-md-10 col-sm-9">
                                <span class="label label-date"><span class="glyphicon glyphicon-calendar"></span> <%=event.start_date_time%></span>
                                <h3 class="media-heading"><%= event.event_name%></h3>
                                <p><%= event.description%></p>
                               
                                <%= link_to "View Transcripts", event_path(event), class: "btn btn-default btn-sm" %>
                                
                            </div>
                            <div class="col-md-2 col-sm-3">
                                <span class="label label-points">
                                    <span class="warning">0</span> / 20
                                    <span class="glyphicon glyphicon-fire"></span>
                                </span>
                                <button type="button" class="btn btn-warning btn-sm">repeat attendance</button>
                            </div>
                        </div>
                    </li>
                
                  <% end %>
                <% end %>
                    
                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-9 col-md-3">
               
                <%= link_to "View All", my_events_path(current_user), class: "btn btn-default" %>
                 
            </div>
        </div>
    </div>
    

    

