<%= form_for @user, url: user_registration_path, method: "post" do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
     
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      
      <div class="action">
       
    
        
      </div>
    
        <div class="input-group col-xs-6">
          <span class="input-group-addon"><%= f.label :email %></span>
          <%= f.text_field :email, class: "form-control" %>
        </div>        
    </div>
    <div class="row">
        <div class="input-group col-xs-6">
          <span class="input-group-addon"><%= f.label "I/C" %></span>
          <%= f.text_field :ic_number, class: "form-control" %>
        </div>        
    </div>
    <div class="row">
    
        <div class="input-group col-xs-6">
          <span class="input-group-addon"><%= f.label "Active License Reg No" %></span>
          <%= f.text_field :licence_number, class: "form-control" %>
        </div>        
    </div>
    
   
     
    <div class="row">
        <div class="input-group col-xs-6">
          <%= f.submit "Claim Profile",  class: "btn btn-default" %>
        </div>             
    </div>
<% end %>    