
<%= form_for @user do |f| %>
 <div class="container">
        
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <img src="../images/event-200x200px.jpg" alt="event" class="img-thumbnail">
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="row">
                    <form class="form-horizontal" role="form">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="vetname" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-8">
                                    <%= f.text_field :name, class: "form-control" %>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="licence_number" class="col-sm-3 control-label">Licence number</label>
                                <div class="col-sm-8">
                                    <%= f.text_field :licence_number, class: "form-control" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ic_number" class="col-sm-3 control-label">IC number</label>
                                <div class="col-sm-8">
                                   
                                    <%= f.text_field :ic_number, class: "form-control" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">Contact number</label>
                                <div class="col-sm-8">
                                   <%= f.text_field :contact_number, class: "form-control" %>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-8">
                                     <%= f.text_field :email, class: "form-control" %>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="current_points" class="col-sm-3 control-label">Current points</label>
                                <div class="col-sm-8">
                                    <%= f.text_field :current_points, class: "form-control" %>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="expiring_points" class="col-sm-3 control-label">Expiring points</label>
                                <div class="col-sm-8">
                                     <%= f.text_field :expiring_points, class: "form-control" %>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="input-group col-xs-6">
                                <span class="input-group-addon"><%= f.label "Avatar" %></span>
                                <%= f.file_field :avatar, class: "form-control" %>
                                </div>        
                            </div>
                            
                        </div>
                        <div class="col-md-offset-9 col-md-3">
                              <%= f.submit "Update",  class:"btn btn-default btn-success" %>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<% end %>