<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header custom-with_input">
                <h1>Users <small>find users here</small></h1>
                <form class="navbar-form" role="search">
                    <div class="row">
                        <% if current_user.is_admin? %>
                            <div class="col-sm-3 col-xs-3"><%= link_to 'Create Admin', new_admin_path, class:'btn btn-primary' %></div>
                            <div class="col-sm-3 col-xs-3"><%= link_to 'Upload Vets', admin_upload_vets_path, class:'btn btn-primary' %></div>
                        <% end %>
                        <div class="col-sm-4 col-xs-4"><input type="text" class="form-control" placeholder="search here"></div>
                    </div>
                </form>
            </div>
            <ul class="media-list">
                <% @users.each do |user| %>
                    <% if user.is_vet? %>
                        <a href= "<%= vet_path(user) %>" >
                    <% elsif user.is_organizer? %>
                        <a href= "<%= organizer_path(user) %>" >
                    <% end %>
                        <% if !user.is_admin? %>
                                <li class="media">
                                    <span class="pull-left"><%= image_tag user.avatar.url(:thumb), class:"img-thumbnail" %></span>
                                    <div class="media-body">
                                        <div class="col-md-7 col-sm-7">
                                            <h3 class="media-heading"><%= user.name %></h3>
                                            <span>Member since: <span class="member-since"><%= user.member_since %></span></span>
                                            <p>License status: <b class="isactive text-success">Active</b></p>
                                        </div>
                                        <div class="col-md-5 col-sm-5">
                                            <span class="label label-points">
                                                <span class="text-success"><%= user.current_points %>
                                                    <span class="glyphicon glyphicon-fire"></span>
                                                </span>
                                                <hr>
                                                <span class="text-warning"><%= user.expiring_points %>
                                                    <span class="glyphicon glyphicon-fire"></span>
                                                    <small>expiring on 31st Sep <%= Date.today.year + 1 %></small>
                                                </span>
                                            </span>
                                        
                                	    <%#= link_to "Edit", edit_user_path(user), class: "btn btn-info" %>
                                	       <div class="pull-right" style="padding-top:5px"><%= link_to 'Delete', user_path(user), method: :delete, :confirm =>"Delete #{user.name}'s account", class: "btn btn-danger" %></div>
                                        </div>
                                    </div>
                                </li>
                        <% end %>
                    </a>
                <% end %>  
            </ul>
        </div>
    </div>
</div>
