<ul class="media-list">
    <% if object %>
        <% object.each do |event| %>
            <a href="<%= event_path(event) %>">
                <li class="media">
                    <div class="media-body col-md-12" >
                        <div class="col-md-1"><span class="pull-left"><%= image_tag event.poster.url(:thumb), class:"img-thumbnail" %></span></div>
                        <div class="col-md-6 col-sm-9">
                            <span class="label label-date"><span class="glyphicon glyphicon-calendar"></span><%= event.start_date_time %></span>
                            <h3 class="media-heading"><%= event.event_name %>
                                <% if event.status == "Pending" %>
                                    <span class="label label-warning"><%= event.status %></span>
                                <% elsif event.status == "Rejected" %>
                                    <span class="label label-danger"><%= event.status %></span>
                                <% elsif event.status == "Approved" %>
                                    <span class="label label-info"><%= event.status %></span>
                                <% elsif event.status == "Live" %>
                                    <span class="label label-success"><%= event.status %></span>
                                <% end %>
                            </h3>
                            <p>Description: <%= event.description %></p>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <span class="label label-points"><%= event.point %><span class="glyphicon glyphicon-fire"></span></span>
                        </div>
                    </div>
                </li>
            </a>
        <% end %>
    <% end %>
</ul>
<%= will_paginate object, renderer: BootstrapPagination::Rails  %>
