


<div class="row">
    <div class="col-md-12">
  <ul class="media-list">
      <% object.each do |event| %>
      <a href="<%= event_path(event) %>"> 
    <li class="media">
        <span class="pull-left">
        <%= image_tag event.poster.url(:thumb), class:"img-thumbnail"  %>
        </span>
            <div class="media-body">
            <div class="col-md-10 col-sm-10">
            <span class="label label-date"><span class="glyphicon glyphicon-calendar"></span> <%=event.start_date_time%></span>
            <h3 class="media-heading"><%= event.event_name%>
            
                <% if event.status == "Pending"    %>
                    <span class="label label-warning">
                        <%= event.status%>                                           
                        </span>
                <% elsif event.status == "Rejected"    %>
                    <span class="label label-danger">
                        <%= event.status%>                                           
                        </span>
                <% elsif event.status == "Approved"    %>
                    <span class="label label-info">
                        <%= event.status%>                                           
                        </span>
                <% elsif event.status == "Live" %>
                    <span class="label label-success">
                        <%= event.status%> 
                       </span>
                <% end %>
            </h3>
            <p><%= event.description%></p>
            <h5>number of attendee: <%= event.attendees.count %></h5>
            </div>
            
            <div class="col-md-2 col-sm-2">
            <span class="label label-points">
            <%= event.point%>
            <span class="glyphicon glyphicon-fire"></span>
            </span>
            </div>
            
        </div>
         
         <% end %>
        </li>
       </a>
      </ul>
    </div>
  </div>
   
   
  
  