<div class="row">
    <div class="col-md-12">
        <ul class="media-list">
            <% if object %>
            <% object.each do |event| %>
                    <a href="<%= event_path(event) %>"> 
                        <li class="media">
                            <div class="media-body col-md-12">
                                <div class="row col-md-12">
                                    <div class="col-md-1"><span class="pull-left"><%= image_tag event.poster.url(:thumb), class:"img-thumbnail" %></span></div>
                                    <div class="col-md-6 col-sm-8">
                                        <span class="label label-date"><span class="glyphicon glyphicon-calendar"></span> <%=event.start_date_time%></span>
                                        <h3 class="media-heading"><%= event.event_name %>
                                            <% if event.status == "Pending" %>
                                                <span class="label label-warning"><%= event.status %></span>
                                            <% elsif event.status == "Rejected" %>
                                                <span class="label label-danger"><%= event.status %></span>
                                            <% elsif event.status == "Approved" %>
                                                <span class="label label-info"><%= event.status %></span>
                                            <% elsif event.status == "Live" %>
                                                <span class="label label-success"><%= event.status %></span>
                                            <% end %>
                                        </h3>
                                        <% if event.status == "Rejected" %>
                                            <% if event.reason != nil %>
                                                <p>Rejected reason: <%=event.reason%></p>
                                            <% end %>
                                        <% end %>
                                        <p>Description: <%= event.description %></p>
                                        <h5>Participants: <%= event.attendees.count %>/<%= event.number_participants %></h5>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <span class="label label-points"><%= event.point %><span class="glyphicon glyphicon-fire"></span></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                <% end %>
            <% end %>
        </ul>
        <%= will_paginate object, renderer: BootstrapPagination::Rails %>
    </div>
</div>
   
   
  
  