<h3>Attendance List</h3>
<table class="table table-condensed">   
  <thead>
    <tr>
      <td class="col-sm-2">Attendee</td>
      <td class="col-sm-4">Attendance</td>
    </tr>
  </thead>
  
  <%= form_tag update_attendances_path(event_id: @event.id), :method => :put do %>
    <% @event.attendees.each do |attendee| %>
      <% attendance = Attendance.where(attended_event_id: @event.id, attendee_id: attendee.id).first %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= check_box_tag 'present[]', attendee.id , attendance.present?, disabled: @event.finish? %></td>
      </tr>
    <% end %>
    <%= submit_tag "Mark attendance", class: "btn btn-default btn-success" %>
  <% end %>
  
  <%= form_tag update_attendances_path(event_id: @event.id), :method => :put do %>
    <%= hidden_field_tag :finish, 'true' %>
    <%= submit_tag "Confirm attendance", :onclick => "return confirm('Are you sure?')", class:"btn btn-default btn-success" %>
  <% end %>
</table>