<%= form_for @event do |f| %>

<% if @event.errors.any? %>
       <div id="error_explanation">
        <% @event.errors.full_messages.each do |msg| %>
          <%flash[:error] = msg %>
        <% end %>
       
      </div>
<% end %>

<div class="container">
        
        <div class="row">
<!--             <div class="col-md-3 col-sm-3">
                <img src="../images/event-200x200px.jpg" alt="event" class="img-thumbnail">
            </div> -->
            <div class="col-md-9 col-sm-9">
                <div class="row">
                    <form class="form-horizontal" role="form">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="EventName" class="col-sm-3 control-label">Event Name</label>
                                <div class="col-sm-8">
                                    <%= f.text_field :event_name, class: "form-control typeahead", :data => {:provide => "typeahead"}   %>

                                </div>
                            </div>
                  
                            <div class="form-group">
                                <label for="StartDate" class="col-sm-3 control-label">Start Date</label>
                                    <div class='input-group date col-sm-8 datetimepicker1'>
                                            <%= f.text_field :start_date_time, class: "form-control"%> 
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>



                            </div>

                            <div class="form-group">
                                <label for="EndDate" class="col-sm-3 control-label">End Date</label>
                                    <div class='input-group date col-sm-8 datetimepicker1'>
                                            <%= f.text_field :end_date_time, class: "form-control"%> 

                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                            </div>

                            <div class="form-group">
                                <label for="Description" class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-8">
                                    <%= f.text_field :description, class: "form-control" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="PageUrl" class="col-sm-3 control-label">Event Page Url</label>
                                <div class="col-sm-8">
                                    <%= f.text_field :event_page_url, class: "form-control" %>
                                </div>
                            </div>                                                          
                            <div class="form-group">
                                <label for="Location" class="col-sm-3 control-label">Location</label>
                                <div class="col-sm-8">
                                    <%= f.text_field :location, class: "form-control" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Speaker" class="col-sm-3 control-label">Speaker</label>
                                <div class="col-sm-8">
                                    <%= f.text_field :speaker, class: "form-control"%>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="speakerBioUpload" class="col-sm-3 control-label">Speaker Bio</label>
                                <div class="col-sm-8">
                                    <%= f.file_field :speaker_bio, class: "form-control"%>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="speakerBioLink" class="col-sm-3 control-label">Link to Bio</label>
                                <div class="col-sm-8">
                                    <%= f.text_field :bio_url, class: "form-control" %>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Schedule" class="col-sm-3 control-label">Schedule</label>
                                <div class="col-sm-8">
                                    <%= f.file_field :schedule, class: "form-control"%>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Poster" class="col-sm-3 control-label">Poster</label>
                                <div class="col-sm-8">
                                    <%= f.file_field :poster, class: "form-control"%>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Points" class="col-sm-3 control-label">Points</label>
                                <div class="col-sm-8">     
                                     <%= f.text_field :point, class: "form-control" %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Category" class="col-sm-3 control-label">Category</label>
                                <div class="col-sm-8"> 
                                <%= f.select :category, ["Seminar","Clinic","Training","Forum"] %>
                                </div>
<!--                                 <div class="col-sm-8">
                                    <select class="form-control">
                                        <option></option>
                                        <option>Seminar</option>
                                        <option>Clinic</option>
                                        <option>Training</option>
                                        <option>Forum</option>
                                    </select>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-offset-9 col-md-3">
                             
                            <%= f.submit "Create", class:"btn btn-default btn-success" %>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

                                    <script type="text/javascript">
                                        $(function () {
                                        $('.datetimepicker1').datetimepicker({pickTime: false});
                                });</script>

                                        <script type="text/javascript">
                                        $(function ()) {
                                        $('.typeahead').typeahead({return data})
                                    });</script>




<% end %>