
 <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header custom-with_input">
                    <h1>All events<small></small></h1>
                   
                    <%= form_tag(events_path, :method => "get", id: "search-form", class:"navbar-form", role:"search") do %>
                    
                        <div class="row">
                            <div class="col-sm-8 col-xs-8">
                                 <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "Search here"%>
                                  
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                 <%= submit_tag "Filter",  :name => nil, class:"btn btn-default" %>
                                
                            </div>
                        </div>
                    
                    <% end %>
                </div>
                <h2>Upcoming</h2>
                <%= render 'shared/event', object: @events_upcoming %>
                
                
                <h2>Past</h2>
                <%= render 'shared/event', object: @events_past %>
               
            </div>
        </div>
    </div>

                                    <script type="text/javascript">
                                        $(function () {
                                        $('.datetimepicker1').datetimepicker({pickTime: false});
                                        $('.typeahead').typeahead();
                                });</script>
