
 <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header custom-with_input">
                    <h1>Upcoming events <small></small></h1>
                   
                    <%= form_tag(events_path, :method => "get", id: "search-form", class:"navbar-form", role:"search") do %>
                    
                        <div class="row">
                            <div class="col-sm-8 col-xs-8">
                                 <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "Search here"%>
                                  
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                 <%= submit_tag "Filter",  :name => nil, class:"btn btn-default" %>
                                
                            </div>
                        </div>
                    
                    <% end %>
                </div>
                <ul class="media-list effect", event="<%= $event %>">
                     <% @events.each do |event| %>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="<%=event.poster%>" height="100" width="100">
                        </a>
                        <div class="media-body">
                        
                            <div class="col-md-10 col-sm-10">

                                <span class="label label-date"><span class="glyphicon glyphicon-calendar"></span> <%=event.start_date_time%></span>
                                <h3 class="media-heading"><%= event.event_name%>
                                <span class="label label-warning"><%= event.status%></span>
                                </h3>
                                <%= event.description %>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <span class="label label-points">
                                    <%= event.point%>
                                    <span class="glyphicon glyphicon-fire"></span>
                                </span>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <%= link_to "show", event_path(event), class: "btn btn-default btn-success" %>
                        </div>
                       <%= link_to "show", event_path(event), class: "btn btn-default btn-success" %> 
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

                            <script type="text/javascript">
                                $('.effect').click(function() {
                                    alert ("suppose to link to the event page")
                                });
                            </script>
