

<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1><%= @event.event_name %></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                 <%= image_tag @event.poster.url(:thumb), class:"img-thumbnail"  %>
               
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="row">
                    <div class="col-md-5">
                        <form class="form-horizontal" role="form"> 

                                                   
                            <div class="form-group">
                                <label for="userPhone" class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-8">
                                        <%= text_field_tag :description, @event.description, class:"form-control", disabled:true %>
                                    </div>
                            </div>

                           <div class="form-group">
                                <label for="userPhone" class="col-sm-3 control-label">Start Date</label>
                                    <div class="col-sm-8">
                                        <%= text_field_tag :description, @event.start_date_time, class:"form-control", disabled:true %>
                                    </div>
                            </div>

                           <div class="form-group">
                                <label for="userPhone" class="col-sm-3 control-label">End Date</label>
                                    <div class="col-sm-8">
                                        <%= text_field_tag :description, @event.end_date_time, class:"form-control", disabled:true %>
                                    </div>
                            </div>

                           

                            <div class="form-group">
                                <label for="userPhone" class="col-sm-3 control-label">Event Page Url</label>
                                    <div class="col-sm-8">
                                        <%= text_field_tag :description, @event.event_page_url, class:"form-control", disabled:true %>
                                    </div>
                            </div>

                           <div class="form-group">
                                <label for="userPhone" class="col-sm-3 control-label">Status</label>
                                    <div class="col-sm-8">
                                        <%= text_field_tag :description, @event.status, class:"form-control", disabled:true %>
                                    </div>
                            </div>
                            
                           <div class="form-group">
                                <label for="userPhone" class="col-sm-3 control-label">Points</label>
                                    <div class="col-sm-8">
                                        <%= text_field_tag :description, @event.point, class:"form-control", disabled:true %>
                                    </div>
                            </div>
                           
                           <div class="form-group">
                                <label for="userPhone" class="col-sm-3 control-label">Schedule</label>
                                    <div class="col-sm-8">
                                        <%= link_to "schedule.pdf", @event.schedule.url(:original, false) %>
                                    </div>
                            </div>

                           <div class="form-group">
                                <label for="userPhone" class="col-sm-3 control-label">Speaker Biodata</label>
                                    <div class="col-sm-8">
                                        <%= link_to "biodata.pdf", @event.speaker_bio.url(:original, false) %>
                                    </div>
                            </div>
                        </form>
                        
                    </div>
                    
                    <div class="col-md-5">
                     <% if current_user %>
                    
                        <% if current_user.is_admin? %>
<!--                             <#% button = link_to "Edit", edit_event_path(@event), class: "btn btn-default btn-success" %>
                            <#% attendance = render 'attendance_list' %> -->

                            <%= form_for @event, :url => {:controller => "attendances", :action => "import"} do |f| %>
                                <%= f.file_field :attendance_list %>
                                <%= f.submit "Upload attendance" %>
                            <% end %>

                            <%= link_to "attendance_list.xls", download_attendances_path(:format => :xls)  %>

                        <% elsif  current_user.is_organizer? %>
<!--                             <#% button = link_to "Edit", edit_event_path(@event), class: "btn btn-default btn-success" %>
                            <#% attendance = render 'attendance_list' %> -->

                            <%= form_for @event, :url => {:controller => "attendances", :action => "import"} do |f| %>
                                <%= f.file_field :attendance_list %>
                                <%= f.submit "Upload attendance" %>
                            <% end %>

                            <%= link_to "attendance_list.xls", download_attendances_path(:format => :xls)  %>

                        <% elsif  current_user.is_vet? %>
                            <% button = render 'attend_form' %>
                        <% else %>
                        
                        <% button = "" %>
                        
                        <% end %>
                        <% else %>
                         
                        
                        <% end %>
                    
                     <%#    = button %>
                     <%#= attendance %>
                    
                           <!-- <%#= link_to "Edit", edit_event_path(@event), class: "btn btn-default btn-success" %>-->
                           <!-- <%# if signed_in? %>-->
                           <!-- <div class="text-center"><%#= render 'attend_form' %></div>-->
                           <!-- <%# end %>-->
                            
                           <!--</div>-->
                    
                     
                     
                     
                       
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>



        


           

