<!DOCTYPE html>
<html>
<head>
  <title>SkillCounter</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  
 
  <%if current_user
   
      if current_user.is_admin?
        navbar = render 'layouts/headerAdmin'
        elsif  current_user.is_organizer?
        
        navbar = render 'layouts/headerOrganizer'
        
        elsif  current_user.is_vet?
        
        navbar = render 'layouts/headerVet'
        else
        
        navbar = render 'layouts/header'
      end
    else
          navbar = render 'layouts/header'
       
    end
       %>
       
  <%= navbar %>
  
  <div id="notice"><%= flash[:notice] %></div>
  <div id="error"><%= flash[:error] %></div>
  <div id="alert"><%= flash[:alert] %></div>
  <%= yield %>

</body>
</html>
