<!DOCTYPE html>
<html>
<head>
  <title>SkillCounter</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="notice"><%= flash[:notice] %></div>
  <div id="error"><%= flash[:error] %></div>
  <div id="alert"><%= flash[:alert] %></div>
  <%= yield %>

</body>
</html>
